/vendor
/node_modules
/public_html/storage
Homestead.yaml
Homestead.json
.env


/public/

/public_html/attachments/

/public_html/avatars/*
!/public_html/avatars/default.png

/public_html/logos/*
!/public_html/logos/default.png

/public_html/other/*
!/public_html/other/page-img1.jpg
!/public_html/other/page-img2.jpg
!/public_html/other/page-img3.jpg
!/public_html/other/page-img4.jpg
!/public_html/other/page-img5.png

/database/seeds/tUserTableSeeder.php
/database/seeds/tAdminTableSeeder.php
/config/2hu_users.php
